{% extends 'base_nav.html' %} {% load i18n %} {% load atria_custom_tags %} {# Set local template variable: #} {% get_settings_value LANGUAGES "LANGUAGES" %} {% load static %} {% block main_content %}
<div class='inside-body'>
    <div class='center-body'>
        <div class='innercont-center-body'>
            <form method='post' action=''>{% csrf_token %}
                <div id='event-form' class='innercont-center-inner'>
                    <div class='form-cont'>
                        <h2>Event Form</h2>
                        <div class='newsfeed-post-seperator'></div>
                        {{ form.occ_id }}
                        <div>
                            <h5>Title</h5>
                            {{ form.title }}
                        </div>

                        <div>
                            <h5>Description</h5>
                            {{ form.description }}
                        </div>

                        <div class='form-date-time-cont'>
                            <div>
                                <h5>Date</h5>
                                <input type="date" id='event-form-date' name='day' required :value='localeDateString' @input='localeDateString = $event.target.valueAsDate'>
                            </div>
                            <div>
                                <h5>Time</h5>
                                <input type="time" id='event-form-time' name='start_time_delta' v-model='localeTimeString'>
                            </div>
                        </div>

                        <div>
                            <h5>Location</h5>
                            {{ form.location }}
                        </div>

                        <div>
                            <h5>Event Type</h5>
                            {{ form.event_type }}
                        </div>

                        <!-- <div>
									<h5>Calendar</h5>
									{{ form.calendar }}
								</div>

								<div>
									<h5>Program</h5>
									<input type="text" name="program" maxlength="32" id="id_program">
								</div> -->

                        <div>
                            <h5>Event Program</h5>
                            {{ form.event_program }}
                        </div>

                        <!-- <div class='add-opp-cont'>
									<div>
										<h5>Add Opportunities</h5>
										<input type="text" id='event-form-opp'>
									</div>
									<div class='btn btn-add-opp' id='btn-add-opp'>+ add</div>
								</div> -->
                        {{ form.errors }} {% verbatim %}

                        <button type='submit' class='btn btn-create-post'>Post</button>
                    </div>
                    <!-- <div class='form-view-cont'>
								<h2>Preview Event Post</h2>
								<div class='newsfeed-post-seperator'></div>
								<div class='form-view-top-cont'>
									<div class='form-view-img-info'>
										<div class='form-view-img'>
											{% endverbatim %}
												<img src="{% static "/atriacalendar/accounticon.png" %}">
											{% verbatim %}
										</div>

										<div class='form-view-info'>
											<div>
												<h2>Your Organization Name</h2>
											</div>
											<div>
												<h5>Your Organization tagline</h5>
											</div>
											<div>
												<h6>Today's Date</h6>
											</div>
										</div>
									</div>
								</div>

								<div>
									<h4 id='form-view-title'>{{ title || 'Event Title' }}</h4>
									<p id='form-view-desc'></p>
								</div>

								<div>
									<h4>Time / Date / Location</h4>
									<p id='form-view-time'>{{ localeTimeString12h }}</p>
									<p id='form-view-date'>{{ localeDateString }}</p>
									<p id='form-view-local'>{{ location }}</p>
								</div>

								<div>
									<h4>Event Opportunities:</h4>
									<ul>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
										<li></li>
									</ul>
								</div>
								<br>
								<button type='submit' class='btn btn-create-post'>Post</button>
							</div> -->
                </div>
                {% endverbatim %}
        </div>
    </div>
</div>

<!-- development version, includes helpful console warnings -->
<!-- script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script -->
<!-- production version, optimized for size and speed -->
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="{% static " /atriacalendar/vue_create_event.js " %}"></script>
{% endblock %}