{% extends 'base_nav.html' %}

{% load i18n %}
{% load atria_custom_tags %}

{# Set local template variable: #}
{% get_settings_value LANGUAGES "LANGUAGES" %}

{% load static %}

{% block main_content %}
	<div class='inside-body'>

		<div class='center-body'>
			<div class='innercont-center-body'>
				<div class='innercont-center-inner'>
					<div class='form-cont'>
						<h2>Event Form</h2>
						<div class='newsfeed-post-seperator'></div>
						<div>
							<h5>Title</h5>
							<input type="text" id='event-form-title'>
						</div>

						<div>
							<h5>Description</h5>
							<textarea rows="6" cols="37" id='event-form-desc'></textarea>
						</div>

						<div class='form-date-time-cont'>
							<div>
								<h5>Time</h5>
								<input type="time" id='event-form-time'>
							</div>
							<div>
								<h5>Date</h5>
								<input type="date" id='event-form-date'>
							</div>
						</div>

						<div>
							<h5>Location</h5>
							<input type="text" id='event-form-local'>
						</div>


						<div class='add-opp-cont'>
							<div>
								<h5>Add Opportunities</h5>
								<input type="text" id='event-form-opp'>
							</div>
							<div class='btn btn-add-opp' id='btn-add-opp'>+ add</div>
						</div>
					</div>
					<div class='form-view-cont'>
						<h2>Preview Event Post</h2>
						<div class='newsfeed-post-seperator'></div>
						<div class='form-view-top-cont'>
							<div class='form-view-img-info'>
								<div class='form-view-img'>
									<img src="{% static "/atriacalendar/accounticon.png" %}">
								</div>

								<div class='form-view-info'>
									<div>
										<h2>Your Organization Name</h2>
									</div>
									<div>
										<h5>Your Organization tagline</h5>
									</div>
									<div>
										<h6>Todays Date</h6>
									</div>
								</div>
							</div>
						</div>

						<div>
							<h4 id='form-view-title'></h4>
							<p id='form-view-desc'></p>
						</div>

						<div>
							<h4>Time / Date / Location</h4>
							<p id='form-view-time'></p>
							<p id='form-view-date'></p>
							<p id='form-view-local'></p>
						</div>

						<div>
							<h4>Event Opportunities:</h4>
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
						<br>
						<div class='btn btn-create-post'>Post</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function() {

			$('#event-form-title').keyup(function() {
				$('#form-view-title').text($(this).val());
			});

			$('#event-form-desc').keyup(function() {
				$('#form-view-desc').text($(this).val());
			});

			$('#event-form-time').keyup(function() {
				$('#form-view-time').text($(this).val());
			});

			$('#event-form-date').keyup(function() {
				$('#form-view-date').text($(this).val());
			});

			$('#event-form-local').keyup(function() {
				$('#form-view-local').text($(this).val());
			});

		});
	</script>
{% endblock %}
