/* 
======================================
	NAV TOP
======================================
*/

.site-nav a {
	color: #2c2c2c;
	cursor: pointer;
}

.site-nav a:hover {
	border-bottom: 2px solid #9a9a9a !important;
}

.fa-search {
	font-size: 16px;
}

.topnav {
	position: fixed;
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	color: #fff;
	background: #FAD067;
	z-index: 3;
}

.topnav img {
	height: 70%;
	position: absolute;
	top: 5px;
}

.topnav-con {
	display: flex;
	align-items: center;
	padding: 0 .4rem;
}

.topnav-rightcon {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.topnav-searchcon {
	padding: 0 .5rem 0 0;
}

.topnav-rightcon .topnav-item {
	padding: .5rem
}

.topnav-accountnamecon {
	min-width: 5rem;
	max-height: 2.5rem;
}

.topnav-accountnamecon a {
	color: #fff;
	font-size: 16px;
}

.topnav-accountnamecon a:hover {
	border-bottom: 2px solid #fff !important;
}

.topnav-searchcon {
	display: flex;
	align-items: center;
}

.topnav-searchcon .fa-search {
	margin: 0 0 0 -1.5rem;
	padding: 0 .5rem 0 0;
	color: #ccc;
}

.topnav-notifycons {
	width: 2rem;
	display: flex;
	align-items: flex-start;
	cursor: pointer;
}

.topnav-notifycons .fas {
	font-size: 20px;
}

.topnav-notifycons span {
	font-size: 11px;
	padding: 2px 5px;
	border-radius: 100%;
	background: #d10000;
	margin: -5px 0 0 -8px;
	z-index: 2;
}

/* 
======================================
	NAV DROPDOWNS
======================================
*/

.topnav-search-dropdown,
.topnav-notificat-dropdown {
	display: none;
	position: absolute;
	padding: .6rem .6rem 1rem .6rem;
	max-height: 85vh;
	min-height: 2rem;
	background: #f1f1f1;
	overflow: scroll;
	border-radius: 0 0 5px 5px;
}

.topnav-search-dropdown a {
	display: block;
}

.topnav-search-dropdown a,
.topnav-notificat-dropdown a {
	padding: 1rem 0 .2rem 0;
	border-bottom: 2px dashed #ccc;
	width: auto;
	top: 0;
	font-size: 14px;
}

.topnav-search-dropdown {
	width: 11rem;
	top: 2.5rem;
	box-shadow: 0px 3px 5px 1px #ccc;
}

.topnav-notificat-dropdown {
	right: .5rem;
	width: 15rem;
	top: 2.5rem;
	box-shadow: 0px 3px 5px 1px #ccc;
}

/* 
======================================
	NOTIFICATION STYLING
======================================
*/
.topnav-notificat-dropdown a {
	display: flex;
	justify-content: space-between;
}

.notifi-infocon {
	padding: 0 0 0 .2rem;
}

.notifi-name {
	font-size: 14px;
	font-weight: 700;
}

.notifi-description {
	font-size: 14px;
}

.notifi-date {
	font-size: 11px;
	font-weight: 700;
	color: #d10000;
	width: 100%;
	margin: .5rem 0 0 0;
	padding: 0 .5rem 0 0;
	box-sizing: border-box;
	float: right;
	text-align: right;
}

/* 
======================================
	NAV SIDE
======================================
*/


.sidenav {
	position: fixed;
	height: 100%;
	width: 3rem;
	background: #f1f1f1;
	overflow: hidden;
	z-index: 2;
	-webkit-transition: width .3s;
	-webkit-transform: width .3s;
	transition: width .3s;

}

.sidenavShow {
	width: 17rem;
	box-shadow: 3px 0px 5px 1px #ccc;
}

.sidenav .fa-bars {
	position: absolute;
	padding: 1rem .75rem;
	top: 2.5rem;
	font-size: 26px;
	color: #cecece;
	cursor: pointer;
}

.sidenav .fa-cog {
	color: #cecece;
}

.sidenav-con {
	position: absolute;
	left: 3rem;
	width: 70%;
}

.sidenav-top {
	top: 6rem;
}

.sidenav-bottom {
	bottom: 1rem;
}

.sidenav-con a {
	padding: .6rem 0;
	display: block;
	border-bottom: 2px dashed #ccc;
	width: 12rem;
	font-size: 14px;
}

/* 
======================================
	MEDIA QUERIES
======================================
*/

@media only screen and (max-width: 700px) {
	.topnav {
		min-height: 3rem;
	}

	.topnav-searchcon input {
		display: none;
	}

	.topnav-searchcon {
		width: 2rem;
	}

	.topnav-searchcon .fa-search {
		margin: 0 0 0 0;
		padding: .3rem;
		color: #fff;
		border: 3px solid #fff;
		border-radius: 100%;
	}

	.topnav-search-dropdown {
		width: 17.5rem;
		right: 0;
		top: 3rem;
		height: 100vh;
		max-height: 100vh;
		position: fixed;
	}

	.topnav-notificat-dropdown {
		right: 0;
		top: 3rem;
		height: 100vh;
		max-height: 100vh;
		position: fixed;
	}

	.topnav-search-dropdown a,
	.topnav-notificat-dropdown a {
		padding: 2rem 0 .5rem 0;
		border-bottom: 2px dashed #ccc;
		width: auto;
		top: 0;
		font-size: 14px;
	}

	.sidenav .fa-bars {
		top: 3rem;
	}
}

@media only screen and (max-width: 500px) {
	.topnav-title {
		display: none;
	}

	.topnav-con {
		justify-content: space-between;
		width: 100%;
	}

	.topnav-searchcon {
		padding: 0 .1rem;
	}

	.topnav-search-dropdown {
		width: 12rem;
		left: 0;
		right: auto;
		top: 3rem;
		height: 100vh;
		max-height: 100vh;
		position: fixed;
	}

	.sidenav-con a {
		width: 16rem;
		padding: 2rem 0 .5rem 0;
	}

	.sidenavShow {
		width: 100%;
	}
}
