* {
  box-sizing: border-box;
}

#app {
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 20px;
}

.calendar-layout {
  min-width: 400px;
}

.calendar {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: stretch;
  align-items: center;
  color: white;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  background-color: #ff7a58;
}
.header .arrow {
  cursor: pointer;
  padding: 0 0.4em 0.2em 0.4em;
  font-size: 1.8rem;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  flex-grow: 0;
}
.header .arrow:hover {
  color: #dcdcdc;
}
.header .title {
  cursor: pointer;
  flex-grow: 1;
  font-size: 1.2rem;
  text-align: center;
}
.header .title:hover {
  color: #dcdcdc;
}

.weekdays {
  display: flex;
}

.weekday {
  width: 14.2857%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0;
  color: #7a7a7a;
  border-width: 1px;
  border-style: solid;
  border-color: #aaaaaa;
  background-color: #eaeaea;
  cursor: default;
}

.week {
  display: flex;
}

.day {
  width: 14.2857%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3a3a3a;
  background-color: white;
  border: solid 1px #aaaaaa;
  cursor: default;
}

.today {
  font-weight: 500;
  color: white;
  background-color: #ff7a58;
}

.not-in-month {
  color: #cacaca;
  background-color: #fafafa;
}

.selected {
  color: #fafafa;
  background-color: #5e7fa0;
}

.dragged {
  color: #fafafa;
  background-color: #8ca7c2;
}

.sidebar {
  margin-left: 20px;
}
.sidebar h4 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}
.sidebar .option {
  margin-top: 5px;
}