{% load i18n %}
{% load atria_custom_tags %}

# Set local template variable:
{% get_settings_value languages "LANGUAGES" %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Title{% endblock %}</title>

    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% block main_nav %}
      <nav class>
        <ul>
          <li {% if active_view == 'calendar_home' %}class="active"{% endif %}>
            <a href="{% url 'calendar_home' %}">{% trans "Home" %}</a>
          </li>
          <li {% if active_view == 'create_event' %}class="active"{% endif %}>
            <a href="{% url 'create_event' %}">{% trans "Create Event" %}</a>
          </li>
          <li {% if active_view == 'event_list' %}class="active"{% endif %}>
            <a href="{% url 'event_list' %}">{% trans "Manage Events" %}</a>
          </li>
          <li {% if active_view == 'calendar_view' %}class="active"{% endif %}>
            <a href="{% url 'swingtime-monthly-view' 2018 10 %}">{% trans "View Calendar" %}</a>
          <li>
            <a href="{% url 'login' %}">{% trans "Log Out" %}</a>
          </li>
        </ul>
      </nav>
      Languages:
      {% if languages %}
        {% get_current_language as LANGUAGE_CODE %}
        <ul class="languages">
          {% for language in languages %}
            <li {% if language.0 == LANGUAGE_CODE %}class="active-language"{% endif %}>
              <a href=".?event_lang={{ language.0 }}">{{ language.1 }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endblock %}

    {% block main_content %}{% endblock %}

    {% block extra_body %}{% endblock %}
  </body>
</html>
