{% extends 'base_nav.html' %}

{% load i18n %}
{% load atria_custom_tags %}

{# Set local template variable: #}
{% get_settings_value LANGUAGES "LANGUAGES" %}

{% load static %}

{% block main_content %}
		
	<div class='inside-body'>
		<div class='center-body'>
			<div class='innercont-body'>
				<div class='innercont-nav'>
					<div class='innercont-title'>
						<h2>Search Neighbour</h2>
					</div>
				</div>
				<div class='inner-cont-search'>
					<h4>Search by:</h4> 
					<div class='search-btns-cont'>
						<div class='btn btn-search'>Neighbour</div>
						<div class='btn btn-search'>Keyword</div>
					</div>
					<div class='newsfeed-post-seperator'></div>
					<div class='search-input-cont'>
						<input placeholder='Search'>
						<div class='btn btn-search-input'>
							<i class='fas fa-search'></i>
						</div>
					</div>
					<div>
						<div id='neighboursearch1'>
							{% include "atriacalendar/pageIncludes/neighboursearch.html" %}
						</div>
						<div id='neighboursearch2'>
							{% include "atriacalendar/pageIncludes/neighboursearch.html" %}
						</div>
						<div id='neighboursearch3'>
							{% include "atriacalendar/pageIncludes/neighboursearch.html" %}
						</div>
						<div id='neighboursearch4'>
							{% include "atriacalendar/pageIncludes/neighboursearch.html" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		<script>
			$(document).ready(function() {
				$(".btn-search").click(function() {
					$(".btn-search").removeClass("btn-search-active");
					$(this).addClass("btn-search-active");
					$(".search-input-cont").css("display", "block");
				});
			});
		</script>

{% endblock %}
