{% extends 'base_nav.html' %}

{% load i18n %}

{% block main_content %}
	<div id='navigation'>
		{% include "atriacalendar/pageIncludes/navigation.html" %}
	</div>

	<div class='dashboard-body'>

		<div class='dashboard-left'>
			<div class='dashboard-innercont'>
				<div class='dashboard-nav'>
					<div class='dashboard-title'>
						<h2>Newsfeed</h2>
					</div>
					<div class='btn btn-create-post'>Create Post</div>
				</div>
				<div class='dashboard-inner'>
					<div id='newsfeed'>
						{% include "atriacalendar/pageIncludes/newsfeed.html" %}
					</div>
				</div>
			</div>
		</div>

		<div class='dashboard-right'>
			<div class='dashboard-innercont'>
				<div class='dashboard-nav'>
					<div class='dashboard-title'>
						<h2>Calendar</h2>
					</div>
					<div class='btn btn-add-new-event'>Add New Event</div>
				</div>
				<div class='dashboard-inner'>
					<div id='calendar'>
						{% include "atriacalendar/pageIncludes/calendar.html" %}
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
