{% extends 'base_nav.html' %}

{% load i18n %}
{% load atria_custom_tags %}
{% load session_namespaced_url %}

{# Set local template variable: #}
{% get_settings_value LANGUAGES "LANGUAGES" %}

{% load static %}

{% block title %}{% trans "Atria Dashboard" %}{% endblock %}

{% block main_content %}
	<div class='inside-body'>
<!--
		<div class='left-body'>
			<div class='innercont-body'>
				<div class='innercont-nav'>
					<div class='innercont-title'>
						<h2>Newsfeed</h2>
					</div>
					{% if request.user.is_authenticated %}
						<div class='btn btn-create-post'>Add Post</div>
					{% endif %}
				</div>
				<div class='innercont-inner'>
					<div id='newsfeed'>
						{ % include "atriacalendar/pageIncludes/newsfeed.html" % }
					</div>
				</div>
			</div>
		</div>
-->
		<div class='innercont-body'>
			<div class='innercont-body'>
				<div class='innercont-nav'>
					<div class='innercont-title'>
						<h2>Calendar</h2>
					</div>
				    {% if request.user.is_authenticated %}
						<a href="{% snurl 'event' %}">
							<div class='btn btn-add-new-event'>Add New Event</div>
						</a>
					{% endif %}
				</div>
				<div class='innercont-inner'>
					<div id='calendar-dashboard'>
						{% include "atriacalendar/pageIncludes/calendar.html" %}
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
