{% extends 'base_landing.html' %}

{% load i18n %}

{% load static %}

{% block main_content %}
	<div class='landing-page-cont'>
		<div class='atria-logo'>
			<img src="{% static "/atriacalendar/CopyofLogoforLetterhead3in300dpi.png" %}">
		</div>

		<a href="{% url 'dashboard_v2' %}">
			<div class='btn btn-guest'>Explore Site as Guest</div>
		</a>

		<h4>Questions? <b><a href=''>Contact Us</a></b></h4>

		<div class='sign-in-cont'>
			<div class='btns-sign-in-cont'>
				<h4>Already Have an Account? <b>Sign in as:</b></h4>
				<div>
					<div class='btn btn-signin-vol'>Neighbour</div>
					<div class='btn btn-signin-org'>Organization</div>
				</div>
			</div>
			<div class='signin-dropdown signin-dropdown-vol'>
				<div class='signin-dropdown-inner'>
					<h5>Neighbour Login</h5>
					<div class='signin-input-cont'>
						<h6>User Name or Email</h6>
						<input type='text'>
					</div>
					<div class='signin-input-cont'>
						<h6>Password</h6>
						<input type='text'>
						<div class='forgot-pass-link'>
							<h6><b><a href=''>Forgot Password?</a></b></h6>
						</div>
					</div>
					<div class='btn-signin-cont'>
						<div class='btn btn-signin'>Sign In</div>
						<span class='stay-signed-in-cont'>
							<input type='checkbox'>
							<h6>Stay Signed In</h6>
						</span>
					</div>
				</div>
			</div>
			<div class='signin-dropdown signin-dropdown-org'>
				<div class='signin-dropdown-inner'>
					<h5>Organization Login</h5>
					<div class='signin-input-cont'>
						<h6>User Name or Email</h6>
						<input type='text'>
					</div>
					<div class='signin-input-cont'>
						<h6>Password</h6>
						<input type='text'>
						<div class='forgot-pass-link'>
							<h6><b><a href=''>Forgot Password?</a></b></h6>
						</div>
					</div>
					<div class='btn-signin-cont'>
						<div class='btn btn-signin'>Sign In</div>
						<span class='stay-signed-in-cont'>
							<input type='checkbox'>
							<h6>Stay Signed In</h6>
						</span>
					</div>
				</div>
			</div>
		</div>
		<h4><b class='btn-create-account'>Create Account</b></h4>
	</div>

	<script>
		$(document).ready(function() {
			$(".btn-signin-vol").click(function() {
				$(".btn-signin-vol").css("opacity", ".6");
				$(".btn-signin-org").css("opacity", "1");

				$(".signin-dropdown-vol").css("display", "block");
				$(".signin-dropdown-org").css("display", "none");
			});

			$(".btn-signin-org").click(function() {
				$(".btn-signin-org").css("opacity", ".6");
				$(".btn-signin-vol").css("opacity", "1");

				$(".signin-dropdown-org").css("display", "block");
				$(".signin-dropdown-vol").css("display", "none");
			});
		});
	</script>
{% endblock %}
