{% extends 'atriacalendar/base.html' %}

{% load i18n %}

{% block page_title %}{% trans "Landing Page" %}{% endblock %}

{% block main_nav %}{% endblock %}

{% block main_content %}
    <p>
      <ul>
        <li>
          <a href="{% url 'login' %}?next=/">{% trans "Log In" %}</a>
        </li>
        <li>
          <a href="{% url 'signup' %}">{% trans "Sign Up" %}</a>
        </li>
        <li>
          {% now 'Y' as cur_year %} {% now 'm' as cur_month %}
          <a href="{% url 'swingtime-monthly-view' cur_year cur_month %}">{% trans "Browse Calendar as Guest" %}</a>
        </li>
        <li>
          <a href="{% url 'landing_v2' %}">{% trans "Landing Page V2" %}</a>
        </li>
      </ul>
    </p>
{% endblock %}
