{% load i18n %}
{% load atria_custom_tags %}
{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/atriacalendar/vue_demo4.css" %}" type="text/css">
  </head>
  <body>

    <template id='calendar'>
      <div class='calendar'>
        <div v-if="loading">Loading...</div>
        <div v-else>
          <div class='header'>
            <a class='arrow' @click='movePreviousYear'>&laquo;</a>
            <a class='arrow' @click='movePreviousMonth'>&lsaquo;</a>
            <span class='title' @click='moveThisMonth'>
              {% templatetag openvariable %} header.label {% templatetag closevariable %}
            </span>
            <a class='arrow' @click='moveNextMonth'>&rsaquo;</a>
            <a class='arrow' @click='moveNextYear'>&raquo;</a>
          </div>
          <div class='weekdays'>
            <div class="weekday" v-for='weekday in weekdays'>
              {% templatetag openvariable %} weekday.label_3 {% templatetag closevariable %}
            </div>
          </div>
          <div class='week' v-for='week in weeks'>
            <div
              class='day'
              :class='{ today: day.isToday, "not-in-month": !day.inMonth, "selected": day.isSelected && !day.dragActive, "dragged": day.isDragged }'
              v-for='day in week'
              @click='$emit("selectDay", day)'
              @mouseenter='$emit("enterDay", day)'
              @mouseleave='$emit("leaveDay", day)'>
              {% templatetag openvariable %} day[dayKey] {% templatetag closevariable %}
              <div class='events' v-for='occurrence in occurrences'>
                <div v-if='day.day == occurrence.start_time.substring(8, 10) && day.month == occurrence.start_time.substring(5, 7) && day.year == occurrence.start_time.substring(0, 4)'>
                  <p> {% templatetag openvariable %} occurrence.start_time.substring(11) {% templatetag closevariable %} {% templatetag openvariable %} occurrence.event.title {% templatetag closevariable %}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>

    <div id="cal-app">
      <div class="calendar-layout">
        <component
          :is='datePicker'
          :day-key='displayKey'
          v-model='dateSelection'
          @drag='dragSelection = $event'>
        </component>
      </div>
      <div class='sidebar'>
        <h4>Mode</h4>
        <div class='option' v-for='option in selectModeOptions'>
          <input type='radio' :id='option.id' :value='option.value' v-model='selectMode' />
          <label :for='option.id'>{% templatetag openvariable %} option.label {% templatetag closevariable %}</label>
        </div>
        <h4>Value</h4>
        <div v-if='dateSelection'>
          <p v-if='selectMode === "single"'>
            {% templatetag openvariable %} dateSelection {% templatetag closevariable %}
            <div v-if="daily_loading">Loading...</div>
            <div
              v-else
              v-for="occurrence in daily_occurrences"
              class="occurrence"
            >
              <p>
                {% templatetag openvariable %} occurrence.event.title {% templatetag closevariable %}:
                {% templatetag openvariable %} occurrence.event.description {% templatetag closevariable %}
                ({% templatetag openvariable %} occurrence.event.event_type {% templatetag closevariable %})
              </p>
              <p>
                {% templatetag openvariable %} occurrence.start_time {% templatetag closevariable %} -
                {% templatetag openvariable %} occurrence.end_time {% templatetag closevariable %}
              </p>
            </div>
          </p>
          <p v-if='selectMode === "multiple"' v-for='date in dateSelection'>
            {% templatetag openvariable %} date {% templatetag closevariable %}
          </p>
          <div v-if='selectMode === "range"'>
            <p>start: {% templatetag openvariable %} dateSelection.start {% templatetag closevariable %}</p>
            <p>end: {% templatetag openvariable %} dateSelection.end {% templatetag closevariable %}</p>
          </div>
        </div>
        <div v-else>
          None
        </div>
        <div v-if='selectMode === "range"'>
          <h4>Drag</h4>
          <div v-if='dragSelection'>
            <p>start: {% templatetag openvariable %} dragSelection.start {% templatetag closevariable %}</p>
            <p>end: {% templatetag openvariable %} dragSelection.end {% templatetag closevariable %}</p>
          </div>
          <div v-else>
            None
          </div>
        </div>
      </div>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- script src="https://unpkg.com/vue"></script -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

    <script src="{% static "/atriacalendar/vue_demo4.js" %}"></script>

  </body>
</html>
