<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">

	<title></title>

	<meta name="author" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="../css/style.css" type="text/css">
	<link rel="stylesheet" href="../css/navigations.css" type="text/css">
	<link rel="shortcut icon" href="">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
</head>

<body>

	<div id='navigation'>
	</div>

	<div id='navigation'>
	</div>

	<div class='inside-body'>

		<div class='center-body'>
			<div class='innercont-body'>
				<div class='innercont-nav'>
					<div class='innercont-title'>
						<h2>Event View</h2>
					</div>
				</div>
				<div class='accounts-events'>
					<div class='newsfeed-posted-cont'>

						<div class='newsfeed-posted-top-cont'>
							<div class='newsfeed-posted-img-info'>
								<div class='newsfeed-posted-img'>
									<img src='../imgs/accounticon.png'>
								</div>

								<div class='newsfeed-posted-info'>
									<div>
										<a href=''>
											<h2>Organization Name</h2>
										</a>
									</div>
									<div>
										<h5>Organization tagline</h5>
									</div>
									<div>
										<h6>Date Posted</h6>
									</div>
								</div>
							</div>
						</div>

						<div>
							<div>
								<h4>Event Name</h4>
							</div>
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							</div>
						</div>

						<div>
							<h4>Time / Date / Location</h4>
							<p id='form-view-time'>11:00 AM</p>
							<p id='form-view-date'>March 14th, 2019</p>
							<p id='form-view-local'>123 Main St, Vancouver BC, V1Z 3A4</p>
						</div>

						<div>
							<div>
								<h4>Event Opportunities:</h4>
							</div>
							<div class='newsfeed-posted-event-opps-list'>
								<ul>
									<li>Print Designer</li>
									<li>Cashier</li>
									<li>Accountant</li>
									<li>Cleaning Crew</li>
									<li>Project Manager</li>
								</ul>
							</div>
						</div>
						<br>
						<div class='btn btn-apply'>Apply to Event</div>
					</div>

					<div class='newsfeed-post-seperator'></div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function() {

			$("#navigation").load("../pageIncludes/navigation.html");

		});
	</script>
</body>

</html>