{% extends 'base_nav.html' %}

{% load i18n %}
{% load atria_custom_tags %}

{# Set local template variable: #}
{% get_settings_value LANGUAGES "LANGUAGES" %}

{% load static %}

{% block main_content %}

	<div class='profile'>
		<div class='profile-header-img'>
			<img src="{% static "/atriacalendar/background.jpg" %}">
		</div>

		<div class='profile-top-cont'>
			<div class='profile-img-cont'>
				<div class='profile-img'>
					<img src=''>
				</div>
			</div>
			<div class='profile-top-info-bar'>
				<div class='profile-top-bar-left'>
					<div class='profile-name-cont'>
						<h2 class='profile-name'>Neighbour Name</h2>
					</div>
					<div class='profile-certif'>
						<span><i class="fas fa-check"></i> Verified</span>
						<span><i class="fas fa-check"></i> Criminal Background Check</span>
					</div>
				</div>
				<div class='profile-top-bar-right'>
					<div class='btn btn-connect'><i class="fas fa-user-plus"></i>Connect</div>
					<div class='btn btn-connect'><i class="fas fa-comment"></i>Message</div>
				</div>
			</div>
		</div>

		<div class='profile-bottom-cont'>
			<div class='profile-nav-cont'>
				<div class='profile-nav-info'>
					<div>
						<h5>Works at:</h5>
						<p class='profile-work-info'>Cool Prints and Graphics</p>
					</div>
					<br>
					<div>
						<h5>Studied at:</h5>
						<p class='profile-work-info'>University of British Columbia</p>
					</div>
				</div>
				<div class='profile-nav'>
					<div class='profile-nav-btn profile-nav-btn-info active-profile-nav'>
						<h5>Info</h5><i class="fas fa-plus"></i>
					</div>
					<div class='profile-nav-btn profile-nav-btn-newsfeed'>
						<h5>Newsfeed</h5><i class="fas fa-plus"></i>
					</div>
					<div class='profile-nav-btn profile-nav-btn-connections'>
						<h5>Connections</h5><i class="fas fa-plus"></i>
					</div>
				</div>
			</div>

			<div class='profile-tab-cont'>
			
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			
				<div class='profile-tabs profile-tabs-info'>
					<div class='tab-cont'>
						<div class='tab tab-white profile-tab-bio'>
							<h5>Biography</h5><i class="fas fa-caret-down"></i>
						</div>
						<div class='tab profile-tab-help'>
							<h5>How I Can Help</h5><i class="fas fa-caret-down"></i>
						</div>
						<div class='tab profile-tab-exp-vol'>
							<h5>Volunteer Experience</h5><i class="fas fa-caret-down"></i>
						</div>
						<div class='tab profile-tab-exp-work'>
							<h5>Work Experience</h5><i class="fas fa-caret-down"></i>
						</div>
					</div>

					<div class='tab-info-cont'>
						<p class='tab-info tab-info-display profile-tab-bio-info'>Hi I’m Megan and I am currently in my final year studying Design at UBC. I also works part time at Cool Prints and Graphics.
							<br>
							<br>
							I have been volunteering with multiple non for profit organizations during my time in school. I use my Design knowledge and skills to create posters, flyers, social media ads, and even t-shirt / other clothing prints, to help non for profits promote events or create merchandise for the them to hand out during the event.
							<br>
							<br>
							I want to connect and work with more organizations that are in need of my skill set. I volunteer because I love my community and I want to give back by helping the best way I know how.
						</p>
						<p class='tab-info profile-tab-help-info'>How I can Help</p>
						<p class='tab-info profile-tab-exp-vol-info'>Volunteer Experience</p>
						<p class='tab-info profile-tab-exp-work-info'>Work Experience</p>
					</div>
				</div>
				
 				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->				
				
				<div class='profile-tabs profile-tabs-newsfeed'>
					<div id='profilenewsfeed'>
						{% include "atriacalendar/pageIncludes/profilenewsfeed.html" %}
					</div>
				</div>
				
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->				
				
				<div class='profile-tabs profile-tabs-connections'>
					<div id='profileconnections'>
						{% include "atriacalendar/pageIncludes/profileconnections.html" %}
					</div>
				</div>
				
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function() {
			$(".profile-tabs").hide();
			$(".profile-tabs-info").show();
			
			$(".profile-nav-btn").click(function() {
				$(".profile-nav-btn").removeClass("active-profile-nav");
				$(this).addClass("active-profile-nav");
			});
			
			$(".profile-nav-btn-info").click(function() {
				$(".profile-tabs").hide();
				$(".profile-tabs-info").show();
			});
			
			$(".profile-nav-btn-newsfeed").click(function() {
				$(".profile-tabs").hide();
				$(".profile-tabs-newsfeed").show();
			});
						
			$(".profile-nav-btn-connections").click(function() {
				$(".profile-tabs").hide();
				$(".profile-tabs-connections").show();
			});
			
			
			$(".tab").click(function() {
				$(".tab").removeClass("tab-white");
				$(this).addClass("tab-white");
			});
			
			$(".profile-tab-bio-info").click(function() {
				$(".tab-info").hide();
				$(".profile-tab-bio-info").show();
			});

			$(".profile-tab-help").click(function() {
				$(".tab-info").hide();
				$(".profile-tab-help-info").show();
			});

			$(".profile-tab-exp-vol").click(function() {
				$(".tab-info").hide();
				$(".profile-tab-exp-vol-info").show();
			});

			$(".profile-tab-exp-work").click(function() {
				$(".tab-info").hide();
				$(".profile-tab-exp-work-info").show();
			});
		});
	</script>

{% endblock %}
