{% extends 'base_nav.html' %}

{% load i18n %}
{% load atria_custom_tags %}

{# Set local template variable: #}
{% get_settings_value LANGUAGES "LANGUAGES" %}

{% load static %}

{% block main_content %}
	<div class='inside-body'>

		<div class='center-body'>
			<div class='innercont-body'>
				<div class='innercont-nav'>
					<div class='innercont-title'>
						<h2>Opportunity View</h2>
					</div>
				</div>
				<div class='accounts-events'>
					<div class='newsfeed-posted-cont'>

						<div class='newsfeed-posted-top-cont'>
							<div class='newsfeed-posted-img-info'>
								<div class='newsfeed-posted-img'>
									<img src="{% static "/atriacalendar/accounticon.png" %}">
								</div>

								<div class='newsfeed-posted-info'>
									<div>
										<a href=''>
											<h2>Organization Name</h2>
										</a>
									</div>
									<div>
										<h5>Organization tagline</h5>
									</div>
									<div>
										<h6>Date Posted</h6>
									</div>
								</div>
							</div>
						</div>

						<div>
							<div>
								<h4>{{ opportunity.title }}</h4>
							</div>
							<div>
								<p>{{ opportunity.description }}</p>
							</div>
						</div>

						<div>
							<h4>Start Date / Location</h4>
							<p id='form-view-date'>March 14th, 2019</p>
							<p id='form-view-local'>123 Main St, Vancouver BC, V1Z 3A4</p>
						</div>
						<br>
						{% if request.user.is_authenticated %}
						<div>
				            <form method='post' action=''>{% csrf_token %}
				            	{{ form.attendee_count }}
				            	<div>
				            		<h4>{{ form.notes.label }}</h4>
				            	</div>
				            	{% if attendance %}
				            		<div><h4>You are volunteering for this event!</h4></div>
					            	{{ form.errors }}
									I Changed My Mind :-( <button type='submit' class='btn btn-apply'>Un-Volunteer</button>
				            	{% else %}
					            	<div>
					            		<p>{{ form.notes }}</p>
					            	</div>
					            	<div>
						            	{{ form.errors }}
										<button type='submit' class='btn btn-apply'>Apply to Volunteer</button>
									</div>
								{% endif %}
							</form>
						</div>
						{% endif %}
					</div>

					<div class='newsfeed-post-seperator'></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
