{% extends 'base_nav.html' %}

{% load i18n %}
{% load atria_custom_tags %}
{% load session_namespaced_url %}

{# Set local template variable: #}
{% get_settings_value LANGUAGES "LANGUAGES" %}

{% load static %}

{% block main_content %}

	<div class='profile'>
		<div class='profile-org-top-cont'>
			<div class='profile-org-img-cont'>
				<div class='profile-img'>
					<img src=''>
				</div>
			</div>
			<div class='profile-org-top-info-bar'>
				<div class='profile-top-bar-left'>
					<div class='profile-name-cont'>
						<h2 class='profile-name'>{{ org.org_name }}</h2>
					</div>
				</div>
				<div class='profile-top-bar-right'>
					{% if request.user.is_authenticated and not request.session.ACTIVE_ORG %}
						{% if connection_exists %}
						{% else %}
						<a href="{% snurl 'make_connection' %}?org_id={{org.id}}">
							<div class='btn btn-connect'><i class="fas fa-user-plus"></i>Connect</div>
						</a>
						{% endif %}
					{% endif %}
					<div class='btn btn-connect'><i class="fas fa-comment"></i>Message</div>
				</div>
			</div>
		</div>

		<div class='profile-bottom-cont'>
			<div class='profile-nav-cont'>
				<div class='profile-nav-info'>
					<div>
						<h5>Organizations company tagline 
lorem ipsum dolor sit amet</h5>
					</div>
					<br>
					<div>
						<h5>More Information?</h5>
						<p class='profile-work-info'>Lorem ipsum dolor sit amet</p>
					</div>
				</div>
				<div class='profile-nav'>
					<div class='profile-nav-btn profile-nav-btn-info active-profile-nav'>
						<h5>Info</h5><i class="fas fa-plus"></i>
					</div>
					<div class='profile-nav-btn profile-nav-btn-events'>
						<h5>Events</h5><i class="fas fa-plus"></i>
					</div>
					<div class='profile-nav-btn profile-nav-btn-opportunities'>
						<h5>Opportunities</h5><i class="fas fa-plus"></i>
					</div>
					<div class='profile-nav-btn profile-nav-btn-newsfeed'>
						<h5>Newsfeed</h5><i class="fas fa-plus"></i>
					</div>
					<div class='profile-nav-btn profile-nav-btn-connections'>
						<h5>Connections</h5><i class="fas fa-plus"></i>
					</div>
				</div>
			</div>

			<div class='profile-tab-cont'>
			
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
			
				<div class='profile-tabs profile-tabs-info'>
					<div class='tab-info-cont'>
						About Organization
					</div>
				</div>
				
 				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
 				
				<div class='profile-tabs profile-tabs-events'>
					<div id='profilecalendar'>
						{% include "atriacalendar/pageIncludes/profilecalendar.html" %}
					</div>
					<div id='profilenewsfeed'>
						{% include "atriacalendar/pageIncludes/profilenewsfeed.html" %}
					</div>
				</div>
				
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				
				<div class='profile-tabs profile-tabs-opportunities'>
					<div id='profileopportunity'>
						{% include "atriacalendar/pageIncludes/profileopportunity.html" %}
					</div>
				</div>
				
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				
				<div class='profile-tabs profile-tabs-newsfeed'>
					<div id='profilenewsfeed2'>
						{% include "atriacalendar/pageIncludes/profilenewsfeed.html" %}
					</div>
				</div>
				
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->				
				
				<div class='profile-tabs profile-tabs-connections'>
					<div id='profileconnections'>
						{% include "atriacalendar/pageIncludes/profileconnections.html" %}
					</div>
				</div>
				
				<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
				
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function() {
			$(".profile-tabs").hide();
			$(".profile-tabs-info").show();
			
			$(".profile-nav-btn").click(function() {
				$(".profile-nav-btn").removeClass("active-profile-nav");
				$(this).addClass("active-profile-nav");
			});
			
			$(".profile-nav-btn-info").click(function() {
				$(".profile-tabs").hide();
				$(".profile-tabs-info").show();
			});
			
			$(".profile-nav-btn-events").click(function() {
				$(".profile-tabs").hide();
				$(".profile-tabs-events").show();
			});
						
			$(".profile-nav-btn-opportunities").click(function() {
				$(".profile-tabs").hide();
				$(".profile-tabs-opportunities").show();
			});
			
			$(".profile-nav-btn-newsfeed").click(function() {
				$(".profile-tabs").hide();
				$(".profile-tabs-newsfeed").show();
			});
			
			$(".profile-nav-btn-connections").click(function() {
				$(".profile-tabs").hide();
				$(".profile-tabs-connections").show();
			});
		});
	</script>

{% endblock %}
