{% load i18n %}
{% load atria_custom_tags %}

{# Set local template variable: #}
{% get_settings_value LANGUAGES "LANGUAGES" %}

{% load static %}

{% verbatim %}
<template id='calendar'>
  <div id='cal-template'>
    <div v-if="loading">Loading...</div>
    <div v-else class='cal-body'>
      <div class='cal-top'>
		<div class='cal-top-title'>
		    <a class='arrow' @click='movePreviousMajor'><i class="fas fa-angle-double-left"></i></a>
		    <a class='arrow' @click='movePreviousMinor'><i class="fas fa-angle-left"></i></a>
			<span class='cal-top-month'>
				<h3>{{ header.label_month }}</h3>
			</span>
			<span class='cal-top-year'>
				<h3>{{ header.label_year }}</h3>
			</span>
		    <a class='arrow' @click='moveNextMinor'><i class="fas fa-angle-right"></i></a>
		    <a class='arrow' @click='moveNextMajor'><i class="fas fa-angle-double-right"></i></a>
		</div>
		<div class='cal-top-nav'>
			<span>
				<select v-model="calendar_filter" @change="updateEventFilters">
					<option disabled value="">Select Calendar</option>
					<option v-for="calendar in calendars" v-bind:value="calendar.calendar_id">
					    {{ calendar.calendar_text }}
					</option>
				</select>
			</span>
			<span>
				<select v-model="program_filter" @change="updateEventFilters">
					<option disabled value="">Select Program</option>
					<option v-for="program in programs" v-bind:value="program.program_id">
					    {{ program.label }}
					</option>
				</select>
			</span>
			<span class='cal-selector' 
				  :class='{ "cal-highlight": how_to_display === "week" }'
			      @click='calWeekSelectDisplay'>
				<h5>Week </h5>
			</span>
			<span class='cal-selector'
				  :class='{ "cal-highlight": how_to_display === "month" }'
				  @click='calMonthSelectDisplay'>
				<h5>Month </h5>
			</span>
			<!-- span class='cal-selector' 
				  :class='{ "cal-highlight": how_to_display === "year" }'
				  @click='calYearSelectDisplay'>
				<h5>Year </h5>
			</span -->
        </div>
      </div>
      <div class='cal-month-cont' style="display: block;" v-if='how_to_display === "month"'>
	      <div>
	      	<ul>
	          <li v-for='weekday in weekdays'> {{ weekday.label_3 }} </li>
	    	</ul>
	      </div>
	      <div class='cal-days-month'>
			  <div class='week' v-for='week in weeks'>
			  	<ul>
				    <li
				      class='day'
				      :class='{ "today": day.isToday, "grey": !day.inMonth, "selected": day.isSelected && !day.dragActive, "dragged": day.isDragged }'
				      v-for='day in week'
				      @click='$emit("selectDay", day)'
				      @mouseenter='$emit("enterDay", day)'
				      @mouseleave='$emit("leaveDay", day)'>
				      <span>{{ day[dayKey] }}</span>
				      <div v-for='occurrence in occurrences'>
				        <div v-if='day.day == occurrence.start_time.substring(8, 10) && day.month == occurrence.start_time.substring(5, 7) && day.year == occurrence.start_time.substring(0, 4)'>
				          <p class='day-event-list'> {{ occurrence.start_time.substring(11, 19) }} {{ occurrence.event.title }}</p>
				        </div>
				      </div>
					</li>
				</ul>
			  </div>
		    </div>
		</div>
	<div class='cal-week-cont' style="display: flex;" v-if='how_to_display === "week"'>
		<div>
			<ul>
				<li>
					Sun
				</li>
				<li>
					Mon
				</li>
				<li>
					Tues
				</li>
				<li>
					Wed
				</li>
				<li>
					Thurs
				</li>
				<li>
					Fri
				</li>
				<li>
					Sat
				</li>
			</ul>
		</div>
		<div class='week'>
			<ul>
				<li
					class='week-events'
					:class='{ "today": day.isToday, "selected": day.isSelected && !day.dragActive, "dragged": day.isDragged }'
					v-for='day in selectedWeekDays'
					@click='$emit("selectDay", day)'
					@mouseenter='$emit("enterDay", day)'
					@mouseleave='$emit("leaveDay", day)'>
					<div class='day-number'><span>{{ day.day }}</span></div>
					<div class='day-wrapper'>
						<div v-for='occurrence in occurrences' v-if='day.day == occurrence.start_time.substring(8, 10)'>
							<p class='day-event-list'> {{ occurrence.start_time.substring(11, 19) }} {{ occurrence.event.title }}</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	  </div>
      <div class='cal-year-cont' style="display: flex;" v-if='how_to_display === "year"'>
		<div>
			<ul>
				<li>
					Jan 10
				</li>
				<li>
					Feb 14
				</li>
				<li>
					Mar 11
				</li>
				<li>
					Mar 12
				</li>
				<li>
					Apr 15
				</li>
				<li>
					Aug 4
				</li>
				<li>
					Sept 25
				</li>
			</ul>
		</div>
		<div class='week'>
			<ul>
				<li>
					<span>10</span>
				</li>
				<li>
					<span>11</span>
				</li>
				<li class='today'>
					<span>12</span>
				</li>
				<li>
					<span>13</span>
				</li>
				<li>
					<span>14</span>
				</li>
				<li>
					<span>15</span>
				</li>
				<li>
					<span>16</span>
				</li>
			</ul>
		</div>
	  </div>
	</div>
  </div>
</template>
{% endverbatim %}

<div class='cal-body' id="cal-app">
	<div class='cal-month-content'>
      <div class="calendar-layout">
        <component
          :is='datePicker'
          :day-key='displayKey'
          v-model='dateSelection'
          @drag='dragSelection = $event'>
        </component>
      </div>
	</div>

	<div v-if="dateSelection">
	<div class='calendar-conts-seperator'></div>

	{% verbatim %}
	<div class='cal-selected-date-cont'>
		<span class='cal-selected-month'>
			<h3>{{ dateSelectionMonth }}</h3>
			<div class='cal-selected-day'>{{ dateSelectionDay }}</div>
		</span>
		<span class='cal-selected-year'>
			<h3>{{ dateSelectionYear }}</h3>
		</span>
	</div>
	{% endverbatim %}

	<div class='calendar-conts-seperator'></div>

    <span v-if="daily_occurrences_count == 0">
    	<h3> No events scheduled </h3>
	</span>
    <span v-for="occurrence in dailyOccurrencesList">
	<div class='cal-event-body'>
		<div class='calendar-posted-cont'>
			<div class='calendar-posted-top-cont'>
				<div class='calendar-posted-img-info'>
					<div class='calendar-posted-img'>
						<img src="{% static "/atriacalendar/accounticon.png" %}">
					</div>

					{% verbatim %}
					<div class='calendar-posted-info'>
						<div>
							<a v-bind:href="'/en/event/'+occurrence.occurrence_id">
								<h2>{{ occurrence.event.title }}</h2>
							</a>
						</div>
						<div>
							<h6>{{ occurrence.start_time }}</h6>
						</div>
					</div>
					{% endverbatim %}
				</div>
			</div>
			<div>
				<div>
					{% verbatim %}
					<p>{{ occurrence.event.description }}
						<span class='see-more-link'><a v-bind:href="'/en/event/'+occurrence.occurrence_id"> ... see more</a></span>
					</p>
					{% endverbatim %}
				</div>
			</div>
			<div class='calendar-posted-event-opps-cont'>
				<div>
					<h4>Event Opportunities:</h4>
				</div>
				<div class='calendar-posted-event-opps-list'>
					<ul>
						{% verbatim %}
						<li v-for='opportunity in occurrence.event.opportunities'>
							<a v-bind:href="'/en/opportunity/'+occurrence.occurrence_id+'/'+opportunity.opportunity_id">
								{{ opportunity.title }}
							</a>
						</li>
						{% endverbatim %}
					</ul>
				</div>
			</div>
		</div>

		<div class='calendar-post-seperator'></div>
	</div>
	</span>
	</div>
</div>

<!-- development version, includes helpful console warnings -->
<!-- script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script -->
<!-- production version, optimized for size and speed -->
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="{% static "/atriacalendar/vue_calendar.js" %}"></script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
