{% load i18n %}
{% load atria_custom_tags %}
{% load session_namespaced_url %}

{# Set local template variable: #}
{% get_settings_value LANGUAGES "LANGUAGES" %}

{% load static %}

<div class='newsfeed-posted-cont'>

	<div class='newsfeed-posted-top-cont'>
		<div class='newsfeed-posted-img-info'>
			<div class='newsfeed-posted-img'>
				<img src="{% static "/atriacalendar/accounticon.png" %}">
			</div>

			<div class='newsfeed-posted-info'>
				<div>
					<a href="{% url 'view_organization' %}">
						<h2>Organization Name</h2>
					</a>
				</div>
				<div>
					<h5>Organization tagline</h5>
				</div>
				<div>
					<h6>Date Posted</h6>
				</div>
			</div>
		</div>
		<div class='newsfeed-posted-event-date'>
			<div>
				<h3>FEB</h3>
			</div>
			<div class='num'>13</div>
		</div>

	</div>

	<div>
		<div>
			<a href="{% url 'view_event' occ_id=occurrence.id %}">
				<h4>{{ occurrence.atriaevent.title }}</h4>
			</a>
		</div>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat<span class='see-more-link'><a href="{% url 'view_event' occ_id=occurrence.id %}"> ... see more</a></span></p>
		</div>
	</div>

	<div class='newsfeed-posted-event-opps-cont'>
		<div>
			<h4>Volunteer Opportunities:</h4>
		</div>
		<div class='newsfeed-posted-event-opps-list'>
			<ul>
				{% for opportunity in occurrence.atriaevent.atriavolunteeropportunity_set.all %}
					<li>
						<a href="{% url 'view_opportunity' occ_id=occurrence.id opp_id=opportunity.id %}">{{ opportunity.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>

<div class='newsfeed-post-seperator'></div>
