{% load i18n %}
{% load atria_custom_tags %}

{# Set local template variable: #}
{% get_settings_value LANGUAGES "LANGUAGES" %}

{% load static %}

<div class='newsfeed-posted-cont'>

	<div class='newsfeed-posted-top-cont'>
		<div class='newsfeed-posted-img-info'>
			<div class='newsfeed-posted-img'>
				<img src="{% static "/atriacalendar/accounticon.png" %}">
			</div>

			<div class='newsfeed-posted-info'>
				<div><a href="{% url 'view_neighbour' %}">
						<h2>Neighbour Name</h2>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
</div>

<div class='newsfeed-post-seperator'></div>