{% load i18n %}
{% load atria_custom_tags %}

{# Set local template variable: #}
{% get_settings_value LANGUAGES "LANGUAGES" %}

{% load static %}

<div class='newsfeed-posted-cont'>

	<div class='newsfeed-posted-top-cont'>
		<div class='newsfeed-posted-img-info'>
			<div class='newsfeed-posted-img'>
				<img src="{% static "/atriacalendar/accounticon.png" %}">
			</div>

			<div class='newsfeed-posted-info'>
				<div>
					<a href=''>
						<h2>Account Name</h2>
					</a>
				</div>
				<div>
					<h6>Date Posted</h6>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div>
			<a href=''>
				<h4>Title</h4>
			</a>
		</div>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat<span class='see-more-link'><a herf=''> ... see more</a></span></p>
		</div>
	</div>
</div>

<div class='newsfeed-post-seperator'></div>

<div class='newsfeed-posted-cont'>

	<div class='newsfeed-posted-top-cont'>
		<div class='newsfeed-posted-img-info'>
			<div class='newsfeed-posted-img'>
				<img src="{% static "/atriacalendar/accounticon.png" %}">
			</div>

			<div class='newsfeed-posted-info'>
				<div>
					<a href=''>
						<h2>Account Name</h2>
					</a>
				</div>
				<div>
					<h6>Date Posted</h6>
				</div>
			</div>
		</div>
	</div>

	<div>
		<div>
			<a href=''>
				<h4>Title</h4>
			</a>
		</div>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat<span class='see-more-link'><a herf=''> ... see more</a></span></p>
		</div>
	</div>
</div>

<div class='newsfeed-post-seperator'></div>


<div class='newsfeed-posted-cont'>

	<div class='newsfeed-posted-top-cont'>
		<div class='newsfeed-posted-img-info'>
			<div class='newsfeed-posted-img'>
				<img src="{% static "/atriacalendar/accounticon.png" %}">
			</div>

			<div class='newsfeed-posted-info'>
				<div>
					<a href=''>
						<h2>Account Name</h2>
					</a>
				</div>
				<div>
					<h6>Date Posted</h6>
				</div>
			</div>
		</div>  
	</div>

	<div>
		<div>
			<a href=''>
				<h4>Title</h4>
			</a>
		</div>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat<span class='see-more-link'><a herf=''> ... see more</a></span></p>
		</div>
	</div>
</div>

<div class='newsfeed-post-seperator'></div>